<div class="mainContent">
  <span class="how-to">How to play?</span>

  <div class="new-player">
    <div class="step">
      <div class="step-circle"><span class="number">1</span></div>
      <span class="step-text">Please enter your name, surname and E-mail to register new player in game.</span>
    </div>
    <img  class="registr" src="../../assets/registr.png" alt="">
  </div>
  
  <div class="new-player">
    <div class="step-options">
      <div class="step-circle"><span class="number">2</span></div>
      <span class="step-text">Choose difficulty and card type to configure your game.</span>
    </div>
    <img  class="registr" src="../../assets/options.png" alt="">
  </div>
  
  <div class="new-player">
    <div class="step">
      <div class="step-circle"><span class="number">3</span></div>
      <span class="step-text">Start you new game! Remember card positions and match it before times up.</span>
    </div>
    <img  class="registr" src="../../assets/game-field.png" alt="">
  </div>
</div>

