<header class="header">
  <div class="header-content">
    <div class="logo"></div>
    <nav class="routing">
      <a href="#/" class="about">
        <div class="question"></div>
        <span class="text">About Game</span>
      </a>
      <a href="#/score" class="about">
        <div class="star"></div>
        <span class="text">Best Score</span>
      </a>
      <a href="#/setting" class="about">
        <div class="gear"></div>
        <span class="text">Game Setting</span>
      </a>
    </nav>
    <button class="registration" dialog-open="test-dialog" header-button>
      <span class="new">REGISTER NEW PLAYER</span>
    </button>
  </div>
</header>