* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 14pt;
  font-family: Roboto;
}

body {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
  background-color: white;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

